@charset "UTF-8";

body {
    margin: 0;
    font-family: "Outfit", sans-serif;
    background-color: black;
    color: #F5F5F5;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: black;
    border-radius: 20px;
}

.hero h1 {
    font-size: 60px;
    color: #ffffff;
}

main {
    padding: 20px;
}

header {
    background-color: #000000;
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 25px;
    margin: 0;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    margin: 0 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

#h1principal {
    position: absolute;
    left: 40%;
    top: 51%;
    font-size: 40px;
    color: #ffffff;

}

#Navprojetos a {
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    /* Transição suave */
    text-decoration: none;
}

#Navhome a:hover {
    background-color: #ffffff;
    color: #0F172A;
    text-decoration: none;
}

#Navhome a {
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    /* Transição suave */
}

#Navprojetos a:hover {
    background-color: #ffffff;
    color: #0F172A;
}

#hoverrr a:hover {
    color: #ffffff;
    text-decoration: underline;
}

section {
    margin-top: 70px;
}

#h1gradient {
    color: #ffffff;

    font-size: 40px;
}

h2 {
    color: #ffffff;

    font-size: 30px;
}

#h2gradient {
    color: #ffffff;

    font-size: 35px;
}

h3 {
    color: #ffffff;
    font-size: 25px;
}

p {
    text-align: justify;
    font-size: 20px;
    margin-bottom: 15px;
    text-indent: 20px;
    max-width: 850px;
}

.sobre-container {
    display: flex;
    /* Usar Flexbox */
    align-items: center;
    /* Alinha verticalmente ao centro */
}

#minhafoto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 20%;
    margin-top: 5%;
}

#Sobremim {
    font-size: 35px;
    margin-left: 43%;
    opacity: 0;
    /* Inicialmente invisível */
    transition: opacity 0.5s ease;
    animation: fadeIn 1s forwards;
    /* Animação para aparecer */
    animation-delay: 2s;
    /* Atraso de 1 segundo */
}

#TextoSobreMim {
    margin-left: 2%;
    margin-top: 180px;
}

/* Animação para fazer o texto aparecer */
@keyframes fadeIn {
    to {
        opacity: 1;
        /* Torna o título visível */
    }
}


#Sobremim:hover {
    color: #ffffff;
}